<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
  <a class="navbar-brand home" routerLink="/home">HOME</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item about-us">
        <a class="nav-link about-us-link" routerLink="/aboutus">ABOUT US </a>
      </li>
      <li class="nav-item contact">
        <a class="nav-link contact-link" routerLink="/contact">CONTACT</a>
      </li>
      <li class="nav-item services">
        <a class="nav-link services-link" routerLink="/services">SERVICES</a>
      </li>
      <li class="nav-item gallery">
        <a class="nav-link gallery-link" routerLink="/gallery">GALLERY</a>
      </li>
      <li class="nav-item products">
        <a class="nav-link products-link" routerLink="/products">PRODUCTS</a>
      </li>
      <li class="nav-item login">
        <a class="nav-link login-link" routerLink="/login">LOGIN</a>
      </li>
    </ul>
    <span class="navbar-text">
      E+C COMPANY
    </span>
  </div>
</nav>